ul {
  margin: 0;
  padding: 0;
}

h1,
h3 {
  margin: 0;
}

a {
  display: block;

  text-decoration: none;
}

.wrapper-header {
  background-image: url(../assets/images/HeaderBG.jpg);
  background-size: cover;
}

.wrapper__inner {
  max-width: 1024px;
  margin: 0 auto;
}

.logo_position {
  padding-top: 28px;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-flex-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.navbar__inner {
  list-style-type: none;
}

.logo__text {
  display: block;
  padding-top: 10px;
  padding-left: 4px;

  font-style: italic;
  font-size: 41px;
  font-family: "Lucida Sans";
  text-align: center;
  color: #ffffff;
  letter-spacing: 0;
}

.navbar__button {
  background-color: #f5c506;
  border-right: 1px solid #b99403;
  box-shadow: -10px -10px 0 rgba(245, 197, 6, 0.27), -5px -5px 0 rgba(245, 197, 6, 0.27);
}

.navbar__button:hover {
  z-index: 1;

  margin-right: 10px;
  margin-left: 10px;

  background-color: rgba(240, 255, 0, 1);
  box-shadow: -10px -14px 0 rgba(240, 255, 0, 0.37), -5px -7px 0 rgba(240, 255, 0, 0.37);
}

.navbar_button_transparent-border {
  border-right-color: transparent;
}

.navbar_button_margin-right {
  margin-right: 5px;
}

.navbar__text {
  padding-left: 3px;

  font-size: 17px;
  line-height: 2.4;
  font-family: "Segoe WP";
  text-align: center;
  color: #b99403;
  letter-spacing: 0;
}

.navbar__text_about-us-padding {
  padding-left: 6px;
}

.navbar__button_about-us-padding {
  padding: 0 22px 0 36px;
}

.navbar__button_services-padding {
  padding: 0 21px 0 15px;
}

.navbar__button_contact-padding {
  padding: 0 22px 0 16px;
}
/* video section classes */
.video_position {
  margin-top: 57px;
  margin-right: 17px;
  margin-bottom: 71px;
  margin-left: 10px;
}

.text-wrapper {
  margin: 0 auto 51px auto;

  text-align: center;
}

.video-text {
  font-weight: 400;
  font-size: 63px;
  line-height: 1.2;
  font-family: "Asap";
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
}

.video-text_colored {
  color: #f5c506;
}

.video-text_uncolored-padding {
  padding-left: 12px;
}
/* section 1  */
.wrapper-section1 {
  background-image: url(../assets/images/bgsec1.png);
}

.justify-center {
  justify-content: center;
}

.info-block {
  border-right: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
}

.info-block_design_padding-top {
  padding-top: 60px;
  padding-bottom: 39px;
}

.info-block_customise_padding-top {
  padding-top: 37px;
  padding-bottom: 38px;
}

.info-block_free_padding-top {
  padding-top: 53px;
  padding-bottom: 38px;
}

.info-block_optional-border {
  border-right: 0;
}

.info-block__text {
  font-weight: 300;
  font-size: 27px;
  line-height: 1;
  font-family: "Segoe UI";
  text-align: center;
  color: #000000;
  letter-spacing: 0;
}

.info-block_size {
  width: 339px;
}

.info-block__image_design-position {
  display: block;
  margin: 0 auto 14px;
  padding-right: 11px;
}

.info-block__image_customise-position {
  display: block;
  margin: 0 auto 17px;
  padding-left: 20px;
}

.info-block__image_free-position {
  display: block;
  margin: 0 auto 12px;
  padding-right: 25px;
}

.info-block__text_position_free-block {
  padding-right: 18px;
}

.info-block__text_position_customise-block {
  padding-left: 19px;
}

.info-block__text_position_design-block {
  padding-left: 17px;
}
