ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  display: block;

  text-decoration: none;
}

.wrapper-header {
  position: relative;

  background-image: url(../assets/images/HeaderBG.jpg);
  background-size: cover;
}

.carousell-controls {
  position: absolute;
  top: 302px;

  box-sizing: border-box;
  width: 32px;
  height: 56px;
  padding-top: 19px;
  padding-left: 8px;

  background-color: #c7a60d;
}

.carousell-controls2 {
  position: absolute;
  top: 302px;
  right: 0;

  box-sizing: border-box;
  width: 32px;
  height: 56px;
  padding-top: 19px;
  padding-left: 11px;

  background-color: #c7a60d;
}

.wrapper__inner {
  max-width: 1024px;
  margin: 0 auto;
}

.logo_position {
  padding-top: 28px;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-flex-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.navbar__inner {
  list-style-type: none;
}

.logo__text {
  display: block;
  padding-top: 10px;
  padding-left: 4px;

  font-style: italic;
  font-size: 41px;
  font-family: "Lucida Sans";
  text-align: center;
  color: #ffffff;
  letter-spacing: 0;
}

.navbar__button {
  background-color: #f5c506;
  border-right: 1px solid #b99403;
  box-shadow: -10px -10px 0 rgba(245, 197, 6, 0.27), -5px -5px 0 rgba(245, 197, 6, 0.27);
}

.navbar__button:hover {
  z-index: 1;

  margin-right: 10px;
  margin-left: 10px;

  background-color: rgba(240, 255, 0, 1);
  box-shadow: -10px -14px 0 rgba(240, 255, 0, 0.37), -5px -7px 0 rgba(240, 255, 0, 0.37);
}

.navbar_button_transparent-border {
  border-right-color: transparent;
}

.navbar_button_margin-right {
  margin-right: 5px;
}

.navbar__text {
  padding-left: 3px;

  font-size: 17px;
  line-height: 2.4;
  font-family: "Segoe WP";
  text-align: center;
  color: #b99403;
  letter-spacing: 0;
}

.navbar__text_about-us-padding {
  padding-left: 6px;
}

.navbar__button_about-us-padding {
  padding: 0 22px 0 36px;
}

.navbar__button_services-padding {
  padding: 0 21px 0 15px;
}

.navbar__button_contact-padding {
  padding: 0 22px 0 16px;
}
/* video section classes */
.video_position {
  margin-top: 57px;
  margin-right: 32px;
  margin-bottom: 71px;
  margin-left: 10px;
}

.text-wrapper {
  margin: 0 auto 51px auto;

  text-align: center;
}

.video-text {
  font-weight: 400;
  font-size: 63px;
  line-height: 1.2;
  font-family: "Asap";
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
}

.video-text_colored {
  color: #f5c506;
}

.video-text_uncolored-padding {
  padding-left: 12px;
}
/* section 1  */
.wrapper-section1 {
  background-image: url(../assets/images/bgsec1.png);
}

.justify-center {
  justify-content: center;
}

.info-block {
  border-right: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
}

.info-block_design_padding {
  padding-top: 60px;
  padding-bottom: 36px;
}

.info-block_customise_padding {
  padding-top: 37px;
  padding-bottom: 36px;
}

.info-block_free_padding {
  padding-top: 53px;
  padding-bottom: 36px;
}

.info-block_optional-border {
  border-right: 0;
}

.info-block__text {
  font-weight: 300;
  font-size: 27px;
  line-height: 1;
  font-family: "Segoe UI";
  text-align: center;
  color: #000000;
  letter-spacing: 0;
}

.info-block_size {
  width: 339px;
}

.info-block__image_design-position {
  display: block;
  margin: 0 auto 14px;
  padding-right: 11px;
}

.info-block__image_customise-position {
  display: block;
  margin: 0 auto 17px;
  padding-left: 20px;
}

.info-block__image_free-position {
  display: block;
  margin: 0 auto 12px;
  padding-right: 25px;
}

.info-block__text_position_free-block {
  padding-right: 18px;
}

.info-block__text_position_customise-block {
  padding-left: 19px;
}

.info-block__text_position_design-block {
  padding-left: 17px;
}
/* section 2 */
.wrapper-section2 {
  background-image: url(../assets/images/bgsec2.png);
}

.section2__text {
  padding-top: 32px;
  padding-bottom: 35px;
  padding-left: 3px;

  font-weight: 400;
  font-size: 37px;
  font-family: "PT Sans";
  color: #ffffff;
  letter-spacing: 0.3px;
}
/* svg */
.shp0 {
  fill: #bc7d00;
  fill-opacity: 0.902;
}

.shp0:hover {
  fill: skyblue;
}

.shp1 {
  opacity: 0.702;

  fill: #ffffff;
}

.shp1:hover {
  fill: #bc7d00;
}
/* end svg */
.double-block__text-block {
  box-sizing: border-box;
  padding-top: 18px;
  padding-left: 30px;
}

.double-block__text-block_text-styles {
  font-weight: 300;
  font-size: 29px;
  line-height: 38px;
  font-family: "Segoe UI";
  color: #ffffff;
  letter-spacing: 0;
}

.double-block__text-block {
  width: 340px;

  background-color: #ec9e03;
}

.section2__svg-block {
  width: 330px;
  margin-right: 5px;

  background-color: #ec9e03;
}

.svg-block__number {
  display: block;
  padding-top: 8px;
  padding-right: 19px;
  padding-bottom: 10px ;

  font-weight: 300;
  font-size: 25px;
  line-height: 38px;
  font-family: "Segoe WP";
  text-align: right;
  color: #ffffff;
  letter-spacing: 0;
}

.plus-position {
  margin-right: 14px;

  text-align: right;
}

.plus2-position {
  margin-right: 10px;

  text-align: right;
}

.svg-block_position {
  padding-bottom: 12px;

  text-align: center;
}

.section2__date-block {
  box-sizing: border-box;
  max-width: 113px;
  padding-top: 8px;
  padding-right: 27px;
  padding-bottom: 8px;
  padding-left: 32px;

  background-color: #ddb101;
}

.section2__date-block_date {
  font-weight: bold;
  font-size: 51px;
  line-height: 1;
  font-family: "Segoe UI";
  color: #ffffff;
  letter-spacing: 1px;
}

.section2__date-block_month {
  font-size: 21px;
  line-height: 1;
  font-family: "Segoe UI";
  color: #b26529;
  letter-spacing: 0;
}
/* input range styles */

input[type="range"]::-ms-thumb {
  cursor: pointer;
}

.range {
  width: 896px;
  height: 14px;
  margin-top: 43px;
  margin-bottom: 21px;
  margin-left: 72px;

  background: #fae797;
  border-radius: 5px;
  outline: none;

  -webkit-appearance: none;
  ;
}

.range::-webkit-slider-thumb {
  width: 197px;
  height: 16px;

  background-color: #ec9e03;
  border-radius: 10px;
  cursor: pointer;

  -webkit-appearance: none;
}

.range::-webkit-slider-thumb:hover,
.range::-webkit-slider-thumb:active {
  background-color: #ddb101;
}

.range::-moz-range-thumb:hover,
.range::-moz-range-thumb:active {
  background-color: #ddb101;
}

.range::-moz-range-track {
  width: 896px;
  height: 14px;
  margin-top: 43px;
  margin-bottom: 21px;
  margin-left: 72px;

  background: #fae797;
  border-radius: 5px;
  outline: none;

  -moz-appearance: none;
}

.range::-moz-range-thumb {
  width: 197px;
  height: 16px;

  background-color: #ec9e03;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  -moz-appearance: none;
}

/* input range styles end */
/* section2 styles end */
/* section 3 styles  */

.wrapper-section3 {
  padding-bottom: 100px;

  background-image: url(../assets/images/bgsec3.png);
  border-bottom: 3px solid  rgba(0,0,0,0.2) ;
}

.section3__text {
  padding-top: 40px;
  padding-bottom: 47px;

  font-weight: 400;
  font-size: 43px;
  font-family: "PT Sans";
  text-align: center;
  color: #f5c506;
  letter-spacing: 0.3px;
}

.wrapper__inner_section3 {
  position: relative;
}

.discont-circle {
  position: absolute;
  z-index: 2;

  width: 120px;
  height: 119px;
  margin-top: -38px;
  margin-left: -2px;

  text-align: center;

  background-color: #f5c506;
  border-radius: 50%;
}

.discont-circle__text {
  width: 120px;

  font-weight: 700;
  font-size: 19px;
  line-height: 6.4;
  font-family: "PT Sans Narrow";
  color: #ffffff;
  letter-spacing: 0;
}



.section3-box__device-box {
  margin-left: 17px;
}

.tablet {
  margin-left: 25px;
  padding-bottom: 40px;
}

.phone {
  margin-left: 27px;
  padding-bottom: 40px;
}

.section3-box__text-box {
  list-style-image: url(../assets/images/yellowCircle.svg);
}



.section3-box__text-box_text {
  margin-right: 17px;
  padding-bottom: 23px;
  padding-left: 10px;

  font-weight: 400;
  font-size: 22px;
  font-family: "Open Sans";
  color: #a9a9a7;
  letter-spacing: 0;
}
/* section3 styles end */
.wrapper-footer {
  background-color: #4c4c4c;
  border-top: 3px solid  rgba(0,0,0,0.3) ;
}

.logo-footer__text {
  padding-left: 6px;

  font-style: italic;
  font-weight: 100;
  font-size: 29px;
  font-family: "Lucida Sans";
  text-align: center;
  color: #ffffff;
  letter-spacing: 0;
}

.section3-box__text-box_text_padding-bot {
  padding-bottom: 0;
}

.logo-footer {
  width: 170px;
  padding: 8px 0;
}
